.home{
    color: white;
    background-image: url("https://t3.ftcdn.net/jpg/02/94/49/06/360_F_294490632_5ao9O9f6b1qLpoppnxqeBtRguPjtZgoV.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: -20%;
}

.interests{
    color: white;
    background-color: #0c0630;
}

.footer{
    color: white;
    background-color: #171717;
    height: auto;
}

.row{
    margin-bottom: 20px;
}

h4{
    position: relative;
    top: 100px;
    color: white;
}

.div1{
    position: absolute;
    top: 330px;
    left: 0px;
    height: 200px;
    width: 100%;
    background-color: #0c0630;
    z-index: -1;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.socialicons{
    height: 80px;
}

h3{
    font-weight: bold;
}